.App {
  text-align: center;
}

.Home{
  background-color: #427c97;
  color: green
}

h1 {
  color: grey;
}

.App{
background-color: green;

}

.App-link {
  color: #17232f;
}

.Login {
  color: green;
  text-align: center;
  background-color: skyblue
  
}

