a {
    text-decoration: none;
    }
  .h1 {
    margin-top: 0;
    }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%
    }
  .columnL {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
  }
  .columnR {
    display: flex;
    flex-direction: column;
    flex: 5 0 0;
  }
  .column-left {
    display: flex;
    flex-direction: row;
    background-color: lightskyblue;
    height: 100%;
    width: 100%;
    }
  .column-right {
    display: flex;
    flex-direction: column;
    background-color: #dbe1e9;
    height: 100%;
    width: 100%;
    padding: 1rem;
    color: #2c2929;
    }
  #leftNavigation, #leftNavigation li ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    }
  #leftNavigation li a {
    font-size: 1em;
    display: flex;
    padding: 0.2rem 0.7rem 0.5rem 2rem;
    color: #adadad;
    border-bottom: solid 1px #395673;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    }
  #leftNavigation li a:hover {
    color: white;
    }
  #leftNavigation li ul {
    background-color: #233547;
    }
  #leftNavigation li ul li a {
    border-bottom: solid 1px #233547;
    }
  #leftNavigation > li.active {
    background-color: #427c97;
    }
  
  .box {
    background-color: #dbe1e9;
    color: #2c2929;
    font-family: "Open sans", Sans-serif;
    }
  .rerow {
    text-align: center;
    background-color: #233547;
    color: #adadad;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .recolumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
   } 
  .log {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    justify-content: flex-end;
  }
  .hello {
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 5;
  }
  .main {
    width: 100%; 
    height: 100%; 
    
  }
  .stretch {
    width:100%;
    height:100%;
  }
  